<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- 样式 -->
    <link rel="stylesheet" type="text/css" href="../../eazax/css/cocos-tag.css">
    <link rel="stylesheet" type="text/css" href="../../eazax/css/cocos-class.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <!-- 脚本 -->
    <script type="text/javascript" src="../../../lib/vue.global.prod.js" defer></script>
    <script type="text/javascript" src="index.js" defer></script>
</head>

<body>
    <div id="app" v-cloak>
        <!-- 标题 -->
        <div class="title">{{ i18n('setting') }}</div>
        <!-- 配置 -->
        <div class="properties">
            <!-- 启用 -->
            <div class="property">
                <div class="label">
                    <span class="text">{{ i18n('enabled') }}</span>
                    <span class="tooltip">{{ i18n('enabledTooltip') }}</span>
                </div>
                <div class="content">
                    <input type="checkbox" v-model="enabled" />
                </div>
            </div>
            <hr />
            <!-- 最低质量 -->
            <div class="property">
                <div class="label">
                    <span class="text">{{ i18n('minQuality') }}</span>
                    <span class="tooltip">{{ i18n('minQualityTooltip') }}</span>
                </div>
                <div class="content">
                    <input type="number" v-model="minQuality" min="1" max="100" step="1" :placeholder="i18n('')" />
                </div>
            </div>
            <!-- 最高质量 -->
            <div class="property">
                <div class="label">
                    <span class="text">{{ i18n('maxQuality') }}</span>
                    <span class="tooltip">{{ i18n('maxQualityTooltip') }}</span>
                </div>
                <div class="content">
                    <input type="number" v-model="maxQuality" min="1" max="100" step="1" :placeholder="i18n('')" />
                </div>
            </div>
            <!-- 速度 -->
            <div class="property">
                <div class="label">
                    <span class="text">{{ i18n('speed') }}</span>
                    <span class="tooltip">{{ i18n('speedTooltip') }}</span>
                </div>
                <div class="content">
                    <input type="range" v-model="speed" min="1" max="10" step="1" />
                    <input style="flex: none;margin-left: 5px;" type="number" v-model="speed" step="1" />
                </div>
            </div>
            <hr />
            <!-- 排除文件夹 -->
            <div class="property">
                <div class="label">
                    <span class="text">{{ i18n('excludeFolders') }}</span>
                    <span class="tooltip">{{ i18n('excludeFoldersTooltip') }}</span>
                </div>
                <div class="content">
                    <textarea v-model="excludeFolders" placeholder="textures/aaa/,&#10;textures/bbb/"></textarea>
                </div>
            </div>
            <!-- 排除文件 -->
            <div class="property">
                <div class="label">
                    <span class="text">{{ i18n('excludeFiles') }}</span>
                    <span class="tooltip">{{ i18n('excludeFilesTooltip') }}</span>
                </div>
                <div class="content">
                    <textarea v-model="excludeFiles" placeholder="textures/abc.png,&#10;textures/123.png"></textarea>
                </div>
            </div>
            <!-- 自动检查更新 -->
            <div class="property">
                <div class="label">
                    <span class="text">{{ i18n('autoCheckUpdate') }}</span>
                    <span class="tooltip">{{ i18n('autoCheckUpdateTooltip') }}</span>
                </div>
                <div class="content">
                    <input type="checkbox" v-model="autoCheckUpdate" />
                </div>
            </div>
            <hr />
            <!-- 提示 -->
            <div class="tip" style="font-size: 11px;line-height: 19px;">
                <span>{{ i18n('skeletonTips') }}</span>
            </div>
            <!-- Git 仓库 -->
            <div class="tip">
                <span>{{ i18n('repository') }}</span>
                <a :href="repositoryUrl" target="_blank">{{ packageName }}</a>
            </div>
            <hr>
            <!-- 应用按钮 -->
            <button class="apply-btn" @click="onApplyBtnClick">{{ i18n('apply') }}</button>
        </div>
    </div>
</body>

</html>